labstack/volumes/nodered/data/.flows.json.backup
[{"id":"d755c1c8.66458","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"467e65cd.66981c","type":"mqtt-broker","z":"","name":"labstack","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c92e6812.d57508","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7f1aab40.026af4","type":"influxdb","z":"","hostname":"influx","port":"8086","protocol":"http","database":"rtl_433","name":"","usetls":false,"tls":""},{"id":"8fdaa0f0.906c2","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d1a7ffaf.ad461","type":"ui_group","z":"","name":"RTL433","tab":"8fdaa0f0.906c2","disp":true,"width":"6","collapse":false},{"id":"8556a8e6.db5cb8","type":"mqtt in","z":"d755c1c8.66458","name":"","topic":"RTL_433","qos":"2","datatype":"json","broker":"467e65cd.66981c","x":390,"y":480,"wires":[["493f40b8.53ce4","15ba8c98.252ef3"]]},{"id":"493f40b8.53ce4","type":"debug","z":"d755c1c8.66458","name":"RTL Msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":380,"wires":[]},{"id":"15ba8c98.252ef3","type":"switch","z":"d755c1c8.66458","name":"Prologue Sensor","property":"payload.model","propertyType":"msg","rules":[{"t":"cont","v":"Prologue sensor","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":480,"wires":[["a7bb8679.186218","175dac36.fd1c34","24c77b67.3656f4","38cd67cb.38de58"]]},{"id":"a7bb8679.186218","type":"debug","z":"d755c1c8.66458","name":"Prologue Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":380,"wires":[]},{"id":"22598424.c98ddc","type":"influxdb out","z":"d755c1c8.66458","influxdb":"7f1aab40.026af4","name":"","measurement":"prologue","precision":"","retentionPolicy":"","x":1120,"y":480,"wires":[]},{"id":"175dac36.fd1c34","type":"function","z":"d755c1c8.66458","name":"Influx transform","func":"\nmsg.topic=\"Prologue\";\nvar orig = msg.payload;\n\nmsg.payload = [\n    {\n        temperature:orig.temperature_C,\n        humidity:orig.humidity,\n    },\n    {\n        battery:orig.battery,\n        id:orig.id,\n        rid:orig.rid,\n        channel:orig.channel,\n        model:orig.model,\n    },\n];\n\nreturn msg; ","outputs":1,"noerr":0,"x":860,"y":480,"wires":[["22598424.c98ddc","c7d4421b.ebfa3"]]},{"id":"c7d4421b.ebfa3","type":"debug","z":"d755c1c8.66458","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":380,"wires":[]},{"id":"e25c7488.337a88","type":"ui_gauge","z":"d755c1c8.66458","name":"","group":"d1a7ffaf.ad461","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":640,"wires":[]},{"id":"24c77b67.3656f4","type":"change","z":"d755c1c8.66458","name":"humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":580,"wires":[["e25c7488.337a88","cf8badd0.64106"]]},{"id":"cf8badd0.64106","type":"debug","z":"d755c1c8.66458","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":560,"wires":[]},{"id":"38cd67cb.38de58","type":"change","z":"d755c1c8.66458","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature_C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":700,"wires":[["71f23b13.f6e124"]]},{"id":"71f23b13.f6e124","type":"ui_gauge","z":"d755c1c8.66458","name":"","group":"d1a7ffaf.ad461","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":700,"wires":[]}]